<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial=scale 1.0" />
    <title>NatiX</title>
    <link href="../Styles/about.css" rel="stylesheet" />
</head>

<body>
    <header>
        <img class="logo" src="../images/logo.jpg" alt="NatiX logo" class="logo" />
        <h1><i>NatiX</i></h1>

    </header>
    <nav>

        <ul>

            <li><a href="../index.html"> Main</a></li>
            <li><a href="#">About </a></li>
            <li><a href="./contact.html">Contact us</a>  
            <li>
        </ul>
    </nav>

    <main>
        <div class="Betting-img">
            <img class="Betting.img" src="../images/Betting.jewlery.img" width="250" height="500">
        </div>
        <section 1>
            <h2>what we cover</h2>
            <ul>
                <li>Football (Epl, la Liga, Seria A, etc.)</li>
                <li>Basketball</li>
                <li>Tennis</li>
                <li>More sport coming soon</li>
            </ul>
        </section>
        <section 2>
            <h>About Us</h1>
                <p>We provide simple and reliable betting odds for your favourite football matches. <br> Our platform is
                    built
                    for easy access to key maches data and bookmaker price.</p>
        </section>
 
 <img src="../images/Dollar-img.webp" alt="Example Image" class="left-image">
    </main>
    <footer>
        <p>&copy;2025 Natix Betsmart . All rights reserved</p>
    </footer>
</body>

</html>